<% @page_title = "Payments" %>



<h4 class="panel-title pull-left" style="padding-top: 7.5px;">
  <strong><%= pluralize Payment.count, "Payment" %></strong>
</h4>
Customer Name:
<%= form_tag payments_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table class="table-orderHistory">
  <thead>
    <tr>
      <th> CustomerName </th>
      <th> DOB </th>
      <th> amount </th>
      <th> ProductName </th>
      <th> Address</th>
      <th> City </th>
      <th> State </th>
      <th> Country </th>
      <th> Phone</th>
      <th> Email</th>
      <th> CardNumber </th>
      <th>Ip Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
    <tr>

      <td><%= payment.customer_name %></td>
      <td><%= payment.date_of_birth.strftime("%d-%m-%Y") if payment.date_of_birth.present? %></td>
      <td><%= payment.amount %></td>
      <td><%= payment.product_name %></td>
      <td><%= payment.address %></td>
      <td><%= payment.city %></td>
      <td><%= payment.state %></td>
      <td><%= payment.country %></td>
      <td><%= payment.phone %></td>
      <td><%= payment.email %> </td>
      <td><%= payment.card_number %> </td>
      <td><%= payment.ip_address %> </td>
      <td><%= link_to "Show Pdf", payment_pdf_payment_url(payment, signature_token: payment.token), :target => '_blank' %>
      <td><%= link_to "Show", payment_url(payment, signature_token: payment.token), :target => '_blank' %>
        <%= link_to "Delete", payment_path(payment), method: :delete, data: { confirm: 'Are you sure want to delete?' } %></td>
      </tr>
      <%end%>
    </tbody>
  </table>


