

<div class="causesBox">
  <h3>Creative Design work</h3>
  <p>Touchsecurecrafts is a e-commerce platform to "Discover Unique Hand crafted Products" including Handmade, Vintage, Ethnic, Organic,IT and Natural products. We help a person redesign his home/living with the latest in handicrafts.
<br><br>
  </p>

<div class="causesBox">
  
  <p>
    Fill out the  form below and we will be in touch with you .
  </p>
  <%= form_for @creative do |f| %>
    
    <% if @creative.errors.any? %>
    <div id="error_explanation">
      <ul >
        <% @creative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-3">Name: &nbsp;&nbsp;</div>

      <div class="col-sm-9"><%= f.text_field :name %></div>
    </div><br>

    <div class="form-group">
     <div class="col-sm-3">Email: &nbsp;&nbsp; </div>

     <div class="col-sm-9"><%= f.text_field :email %></div>
   </div><br>

   <div class="form-group">
     <div class="col-sm-3">Phone: &nbsp;&nbsp;</div>

     <div class="col-sm-9"><%= f.text_field :phone %></div>
   </div><br>

     <div class="form-group">
     <div class="col-sm-3">City: &nbsp;&nbsp;</div>

     <div class="col-sm-9"><%= f.text_field :city %></div>
   </div><br>

  <div class="form-group">
     <div class="col-sm-3">Country: &nbsp;&nbsp;</div>

     <div class="col-sm-9"><%= f.text_field :country %></div>
   </div><br>
  <div class="form-group">
     <div class="col-sm-3">Post code: &nbsp;&nbsp;</div>

     <div class="col-sm-9"><%= f.text_field :postal_code %></div>
   </div><br>

  <!--  <div class="form-group">
     Space: &nbsp;&nbsp;
     <%#= f.select :space, %w(Office Home) %>
     </div>
   --> 
   <div class="form-group">
      <div class="col-sm-3">Alternate Phone:</div>

      <div class="col-sm-9"><%= f.text_field :alternate_phone %></div>
   </div>
   <br>
   <div class="form-group">
     <div class="col-sm-3">Address:</div>

     <div class="col-sm-9"><%= f.text_field :billing_address %></div>
   </div> <br>
   <div class="form-group">
    <div class="col-sm-3">Amount: &nbsp;&nbsp;</div>

    <div class="col-sm-9"><%= f.text_field :budget %></div>
  </div><br>
<div class="form-action">
  <%= f.submit "Submit Query"  %>
  <% end %>
</div>



</div>

<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>


city,
postal code,
country
